
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 /* share style  */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


 /* main style  */
header{
    background-color: #FFF8F3;
    background:url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.logo h2{
      font-size:45px;
      font-weight: 900;
      
    
    }
.span{
    color:#FD6E0A;
}
nav{
    width:71%;
    max-width:1140px;
    margin: 0px 230px;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    
}

nav .menu{
     display:flex;
     list-style: none;
     gap:51px;
     align-items: center;
}
nav .menu a{
    text-decoration: none;
    color:#474747;
    font-size: 20px;
    font-weight: 500;
}

.btn{
    font-size: 20px;
    padding:18px 32px;
    border:none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color:white;
    font-weight: bold;
    cursor:pointer;
    gap:30px
}
   /* hero baner section  */

   #baner{
    display: flex;
    /* margin:46px 38px 0 230px; */
    /* border:1px solid black; */
    margin:46px 38px 0px 230px;
    justify-content:space-between;
    align-items: center;
   

   }
#baner .baner-content{
    max-width: 585px;
}

#baner .baner-content h2{
    font-size:45px;
    font-weight: 600px;
    color:#474747;
    margin-bottom: 5px;
}
#baner .baner-content h1{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#baner .baner-content p{
    font-size: 17px;
    line-height: 30px;
    color:#757575;
    font-weight: 400px;
    margin-bottom: 30px;
    

}

#baner .baner-image img{
    width:584px;
    vertical-align:middle;
    
}
